/* colors-waybar.css */
@define-color background #0b0b19;
@define-color foreground #c2c2c5;
@define-color color0 #0b0b19;
@define-color color1 #2B519E;
@define-color color2 #585FA0;
@define-color color3 #3B6DCD;
@define-color color4 #A56D89;
@define-color color5 #2D9EE8;
@define-color color6 #5E9BE1;
@define-color color7 #c2c2c5;
@define-color color8 #5a5a6e;
@define-color color9 #2B519E;
@define-color color10 #585FA0;
@define-color color11 #3B6DCD;
@define-color color12 #A56D89;
@define-color color13 #2D9EE8;
@define-color color14 #5E9BE1;
@define-color color15 #c2c2c5;
